In [12]:
import pandas as pd
import numpy as np
import datetime as dt
import glob
import os

In [13]:
bingData1 = pd.read_csv('bingData_01_01_2019-31_12_2019.csv')
bingData2 = pd.read_csv('bingData_01_01_2020-07_11_2020.csv')
# Missing Data from November 8th, 2020 to January 11st, 2021
bingData3 = pd.read_csv('bingData_12_01_2021-30_11_2021.csv')
bingData4 = pd.read_csv('bingData_01_12_2021-31_12_2021.csv')

files = os.path.join("C:\\Users\\aaliy\\PycharmProjects\\pythonProject\\energyResearch\\", "bingData*.csv")
files = glob.glob(files)

bingData = pd.concat(map(pd.read_csv, files), ignore_index=True)
bingData

                  START_TIME             END_TIME BUILDING_ID TYPE    VALUE
0        2019-01-01 00:10:07  2019-01-01 01:10:07          MH    E    8.669
1        2019-01-01 00:10:07  2019-01-01 01:10:07          LA    E    6.808
2        2019-01-01 00:10:07  2019-01-01 01:10:07          KH    E    6.475
3        2019-01-01 00:10:07  2019-01-01 01:10:07          JH    E    8.623
4        2019-01-01 00:10:07  2019-01-01 01:10:07          HE    E    5.472
...                      ...                  ...         ...  ...      ...
3098707  2021-11-30 22:10:06  2021-11-30 23:10:06          LS    H  161.081
3098708  2021-11-30 22:10:06  2021-11-30 23:10:06          MR    E   82.231
3098709  2021-11-30 22:10:06  2021-11-30 23:10:06          MR    H  350.000
3098710  2021-11-30 22:10:06  2021-11-30 23:10:06          MO    E   59.856
3098711  2021-11-30 22:10:06  2021-11-30 23:10:06          MO    H      NaN

[3098712 rows x 5 columns]

In [15]:
# DATA CLEANING PROCESS
# Isolate to just Type "E" which refers to Electricity
bingData = bingData[bingData['TYPE'] == 'E']

# Add Time Information to bingData Data Frame
bingData['time'] = pd.to_datetime(bingData['START_TIME'])
bingData['Time'] = pd.to_datetime(bingData['time']).dt.time
bingData['Date'] = pd.to_datetime(bingData['time']).dt.date
bingData['Week'] = bingData['time'].dt.strftime("%U")
bingData['Day'] = bingData['time'].dt.strftime("%j")
bingData['Weekday'] = bingData['time'].dt.strftime("%w")
bingData['Hour'] = pd.to_datetime(bingData['time']).dt.hour

bingData

,START_TIME,END_TIME,BUILDING_ID,TYPE,VALUE,time,Time,Date,Week,Day,Weekday,Hour
0,2019-01-01 00:10:07,2019-01-01 01:10:07,MH,E,8.669,2019-01-01 00:10:07,00:10:07,2019-01-01,00,001,2,0
1,2019-01-01 00:10:07,2019-01-01 01:10:07,LA,E,6.808,2019-01-01 00:10:07,00:10:07,2019-01-01,00,001,2,0
2,2019-01-01 00:10:07,2019-01-01 01:10:07,KH,E,6.475,2019-01-01 00:10:07,00:10:07,2019-01-01,00,001,2,0
3,2019-01-01 00:10:07,2019-01-01 01:10:07,JH,E,8.623,2019-01-01 00:10:07,00:10:07,2019-01-01,00,001,2,0
4,2019-01-01 00:10:07,2019-01-01 01:10:07,HE,E,5.472,2019-01-01 00:10:07,00:10:07,2019-01-01,00,001,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3098701,2021-11-30 22:10:06,2021-11-30 23:10:06,LM,E,23.170,2021-11-30 22:10:06,22:10:06,2021-11-30,48,334,2,22
3098703,2021-11-30 22:10:06,2021-11-30 23:10:06,LT,E,87.072,2021-11-30 22:10:06,22:10:06,2021-11-30,48,334,2,22
3098706,2021-11-30 22:10:06,2021-11-30 23:10:06,LS,E,106.377,2021-11-30 22:10:06,22:10:06,2021-11-30,48,334,2,22
3098708,2021-11-30 22:10:06,2021-11-30 23:10:06,MR,E,82.231,2021-11-30 22:10:06,22:10:06,2021-11-30,48,334,2,22
3098710,2021-11-30 22:10:06,2021-11-30 23:10:06,MO,E,59.856,2021-11-30 22:10:06,22:10:06,2021-11-30,48,334,2,22

In [9]:
johnsonData = bingData[bingData['BUILDING_ID'] == 'JS']
johnsonData

                  START_TIME             END_TIME BUILDING_ID TYPE    VALUE
78       2019-01-01 00:10:07  2019-01-01 01:10:07          JS    E   38.066
97       2019-01-01 01:10:08  2019-01-01 02:10:08          JS    E   38.286
210      2019-01-01 02:10:08  2019-01-01 03:10:08          JS    E   40.250
362      2019-01-01 03:10:08  2019-01-01 04:10:08          JS    E   35.990
478      2019-01-01 04:10:08  2019-01-01 05:10:08          JS    E   37.957
...                      ...                  ...         ...  ...      ...
3098004  2021-11-30 18:10:04  2021-11-30 19:10:04          JS    E  135.652
3098186  2021-11-30 19:10:10  2021-11-30 20:10:10          JS    E  137.292
3098292  2021-11-30 20:10:05  2021-11-30 21:10:05          JS    E  139.526
3098486  2021-11-30 21:10:01  2021-11-30 22:10:01          JS    E  143.845
3098695  2021-11-30 22:10:06  2021-11-30 23:10:06          JS    E  143.572

[24217 rows x 5 columns]